{% extends 'base.html' %}
{% block content %}

<h1>{{ venue.name }}</h1>
<!-- Photo Area -->
<div class="slider" id="photo-slider">
  <ul class="slides">
    {% for photo in venue.photo_set.all %}
    <li>
      <img class="responsive-img card-panel" src="{{photo.url}}" alt="venue-photo">
    </li>
    {% empty %}
    <li>
      <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    </li>
    {% endfor %}
  </ul>
</div>
<div class="row" id="upload-photo">
  <form action="{% url 'add_photo' venue.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br><br>
    <input type="submit" class="btn" value="Upload Photo">
  </form>
</div>
<!-- Venue Specific -->
<div class="row">
  <div class="card" id="venue_detail">
    <p><b>Description:</b> {{ venue.description }}</p>
    <p><b>Date Visited:</b> {{ venue.date }}</p>
    <p><b>Posted By:</b> {{ venue.user }}</p>
    {% if user == venue.user %}
    <a href="{% url 'venues_update' venue.id %}">Edit</a>
    <a href="{% url 'venues_delete' venue.id %}">Delete</a>
    {% endif %}
  </div>
</div>
<!-- Available amenities -->
<div class="row">
  <div class="col s6">
    <h3>{{ venue.name }}'s Amenities</h3>
    {% if venue.amenities.count %}
    {% for amenity in venue.amenities.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          {{ amenity.name }}
        </span>
      </div>
      <div class="card-action">
        <form action="{% url 'unassoc_amenity' venue.id amenity.id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn">Remove</button>
        </form>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <h5>No Amenities Yet! :(</h5>
    {% endif %}
  </div>
  <div class="col s6">
    <h3>Available Amenities</h3>
    {% if amenities.count %}
    {% for amenity in amenities.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          A {{ amenity.name }}
        </span>
      </div>
      <div class="card-action">
        <form action="{% url 'assoc_amenity' venue.id amenity.id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn">Add</button>
        </form>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <h5>{{venue.name}} Already Has All Amenities Available</h5>
    {% endif %}
  </div>
</div>
<!-- comments section-->
<div class="row">
  <div class="col s12" id="add-comment">
    <form id="comment-form" class="black-text" action="{% url 'add_comment' venue.id %}" method="POST">
      {% csrf_token %}
      {{ comment_form.as_p }}
      <input type="submit" class="btn" value="Add Comment">
    </form>
    <br>
    <table class="striped">
      <thead>
        <tr>
          <th>Date Visited</th>
          <th>Comment</th>
          <th>User</th>
        </tr>
      </thead>
      <tbody>
        {% for comment in venue.comment_set.all %}
        <tr>
          <td>{{comment.date}}</td>
          <td>{{comment.content}}</td>
          <td>{{comment.username}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('.slider');
    var instances = M.Slider.init(elems);
  });
</script>

{% endblock %}