{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Nue Review</title>
</head>
<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <ul>
                    <li><a href="{% url 'home' %}" class="left brand-logo">&nbsp;&nbsp;Nue Review</a></li>
                </ul>
                <ul class="right">
                  <li>TESTING</li>
                  {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                  {% else %}
                    <li><a href="{% url 'login' %}">Log In</a></li>
                  {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    {% block content %}
    {% endblock%}
    
</body>
</html>