body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url('https://i.imgur.com/DynJPDv.png');
  background-size: cover;
  background-position: center;
 
}

h1 {
  padding-left: 30px;
  color: aliceblue;

}

.btn {
  background-color: #2a2a2a;
}

.btn:hover {
  background-color: #821111; 
}

  
main {
  flex: 1 0 auto;
}
  
footer.page-footer {
  padding-top: 0;
  text-align: right;
}

nav {
  background-color: #292929;
}

nav .brand-logo {
  text-shadow: 1px 1px 2px black, 0 0 25px #ff00f9, 0 0 5px pink;
}

.row {
  width: 800px;
}

form label {
  color: aliceblue;
}

#login {
  text-align: center;
  background-color: #ff00fba2;
  max-width: 50%;
  margin: auto;
  box-shadow: 5px 5px 15px #7e09a9, -5px -5px 15px #7e09a9;
  /* box-shadow: 5px 5px blue, 10px 10px red, 15px 15px green; */

  
}





